<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<%- include('./common/head.ejs') %>
<body>
	<div class="weui-tab__panel mescroll" id="index_content">
		<!--轮播图-->
		<%- include('./common/banner.ejs') %>
		<!--快速导航-->
		<%- include('./common/quick-nav.ejs') %>
		<img src="/images/vt/mid.png" style="width: 100%;margin-top:5px;"/>
		<!--精品推荐-->
		<%- include('./common/recommend.ejs') %>
	</div>
	<!--底部-->
	<%- include('./common/tabbar.ejs') %>
	<script src="<%= base.cdn %>/js/app/index.js?v=<%= base.version %>" ></script>
</body>
</html>
