<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<%- include('./common/head.ejs') %>
<body style="background-color: #ffffff;">
	
	<header class="wy-header">
		<div class="wy-header-icon-back"><a href="javascript:window.history.back();"></a></div>
		<div class="wy-header-title">注册</div>
		<div class="wy-header-icon-index"><a href="/"></a></div>
	</header>
	
	<div class="weui-cells weui-cells_form" style="padding-top: 44px;margin-top: 0px;">
		<div class="weui-cell" style="font-size: 14px;">
			<div class="weui-cell__hd" ><label class="weui-label">手机号码<span style="color:red;margin-left: 5px;">*</span></label></div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="number" placeholder="请输入手机号" id="mobile" name="phone"/>
			</div>
		</div>

		<div class="weui-cell" style="font-size: 14px;">
			<div class="weui-cell__hd" ><label class="weui-label">密<span style="margin-left: 28px;">码</span><span style="color:red;margin-left: 5px;">*</span></label></div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="password" placeholder="请您输入密码" id="password" name="password"/>
			</div>
		</div>
		<div class="weui-cell" style="font-size: 14px;">
			<div class="weui-cell__hd" ><label class="weui-label">确认密码<span style="color:red;margin-left: 5px;">*</span></label></div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="password" placeholder="请您确认密码" id="passwordConfirm" name="passwordConfirm"/>
			</div>
		</div>
		
		<div class="weui-cell weui-cell_vcode" >
			<div class="weui-cell__bd" >
				<input class="weui-input" value="123456" name="code"  id="code" type="text" placeholder="短信验证码" style="font-size: 14px; ">
			</div>
			<div class="weui-cell__ft">
				<a href="javascript:;" class="weui-vcode-btn" style="font-size: 14px;text-align:center;height: 41px;">获取验证码</a>
			</div>
		</div>
		
		<div class="weui-cell weui-cell_vcode">
		</div>
		
		<div class="weui-btn-area" >
			<a class="weui-btn weui-btn_primary" href="javascript:" id="confirmBtn" style="font-size: 14px;height:39px;"><i id="confirmLoading"></i>注册</a>
			<a class="weui-btn weui-btn weui-btn_default" href="/login" style="font-size: 14px;height:39px;"><i></i>登录</a>
		</div>

		
	</div>

	<div class="weui-msg__extra-area">
		<div class="weui-footer">
			<p class="weui-footer__text">Copyright &copy; 2018-2099 zshop</p>
		</div>
	</div>
	<%- include('./public-tip.ejs') %>
	<script src="<%= base.cdn %>/js/app/public-tip.js?v=<%= base.version %>" ></script>
	<script src="<%= base.cdn %>/js/app/register.js?v=<%= base.version %>" ></script>
</body>
</html>
